body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.title {
    color: green;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 50px;
}
.parent{
    display: flex;
    width: 80%;
    margin: 0 auto;    
}

.details-btn{
    padding: 15px 30px;
    color: #fff;;
    background-image: linear-gradient(45deg, green, red, green);
    border: none;
    cursor: pointer;
    margin-top: 30px;
}

button.details-btn:hover {
    background-image: linear-gradient(45deg, black, red, black);
    transition: .5s;
    color: #fff;
}

.second-section{
    text-align: center;
    margin-top: 50px;
}

.dhaka{
    width: 250px;
    border: 1px solid gray;
    box-shadow: 4px 4px 12px gray;
    padding: 40px;
}

.all-divisions{
    display: flex;
    justify-content: space-around;
    padding: 50px;
}

.div-img img{
    width: 250px;
}

.photo img{
    width:400px;
}

.sec-title{
    color: green;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 50px;
}

footer p{
    padding: 30px;
    text-align: center;
    color: #333;
    font-weight: 700;
}